extends ../layout

block content-header
  div#diary-header
    div.container
      h2 Diary #{year}-#{sprintf("%02d", month)}

block content

  div.row(ng-app="HatotechDiary", ng-controller="HatotechDiaryNavigationController", ng-init="current_date = { year: #{year}, month: #{month} };")

    div.col-md-10

      include _before_after.jade

      each diary in diaries
        div.diary-frame
          h4(id="d_#{diary.date}")= diary.date
          div!= diary.html

      include _before_after.jade


    div.col-md-2
      include _monthly_archives.jade


append scripts
  script(src="/assets/js/hatotech.min.js")